@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../car.jpg) no-repeat;
	background-size: cover;
}
.login-box {
	width: 280px;
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%,-50%);
	color: white;
}

.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0

}

.login-box2 {
	width: 280px;
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%,-50%);
	color: white;
}

.login-box2 h2{
	
	float: left;
	font-size: 40px;
	color: white;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0;
		}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	color: white;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 2px solid #4caf50;
}

.textbox i{
	width: 26px;
	float: left;
	color: white;
	text-align: center;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
    float: left;
    margin:0 10px;

}

.btn {
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}

th.customer {
	        font-family: Century Gothic;
	        color: white;
			text-align: left;
		}